@media (min-width: 800px){
    body{
        max-width: 600px;
        margin: auto;
    }
}

body{
  min-height: 100vh;

  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  /* margin: 0px; */


  background-image: url("./Misty-lake.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;


  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
    font-style: italic;

    margin-bottom: 0px;
}
h3{
  margin: 0 0;
  padding: 0px;
}
h4{
  margin: 10px 0px;
  padding: 0px;
}
h5{
  margin: 0px;
  padding: 10px 0;
}
h6{
  margin-top: 0px;
}
p{
  font-size: 13px;
  margin: 0px;
}
button{

    font-size: 16px;
    height: 48px;

    border: 1px solid black;
    border-radius: 4px;
    background: #f8f8f8;
}
button:active, button:focus{
     outline: none;
}
button:disabled{
    border: 1px solid lightgray;
}

input[type="text"], input[type="number"]{
    height: 35px;

    font-size: 20px;
    text-align: center;

    border: none;
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
}

input[type="text"]:disabled, input[type="number"]:disabled{
    /*color: rgb(190, 190, 190);*/
    text-decoration: line-through;

}
input[type="text"]{
    width: 70%;
  
}
input[type="number"]{
    width: 60px;
}
input[type="radio"]{
    position: relative;
    /* bottom: -2px; */
}

select{
    font-size: 15px;
    min-height: 32px;
    min-width: 200px;
    text-align: center;
    text-align-last: center;
    border: 1px solid black;
    /* -webkit-appearance: none; */
}
select:active, select:focus{
     outline: none;
}

label{
    margin-bottom: 5px;
}

#nav{
    /* background-color: rgba(24, 58, 153, 0.4) */
    background: rgba(250, 250, 250, 0.5);
    /* width: 100%; */
    width: 100vw;
    padding: 15px 0px 0px; 
    margin: 0;

    display: flex; 
    flex-direction:column; 
    align-items: center;
}

#mainHeader{
    /* color: pink; */
    color: rgb(175, 160, 170);
}

#cancelAddTimer{
    font-size: 20px;
    padding: 0 10px;
}
#newTimerSettings{
  margin: 0 0px 5px;
  width: 97%;
  /*border: 1px solid black;*/

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#setTimers{
  /* width: 85%; */
  width: calc( 100% - 10px);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#nameContainer{
    box-sizing: border-box;
    padding-left: 10px;
}

#newTimerInterval{
    margin-right: 10px;
}

#add1Repeat{
    position: relative;
    left: 1px;
}

#confirmNewTimer{
    padding: 10px;
}

#soundChoiceContainer{
    padding: 15px 3px;
}

#intervalContainer{
    box-sizing: border-box;
    height: 140px;
    align-items: flex-end;
}

#timeUnits{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intervalTop{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#buttonsAddRemove5{
    height: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 10px;
    border-right: 1px solid black;
}

#newTimerText{
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
}

#newTimerText.warn, #newTimerText.warn:active, #newTimerText.warn:focus{
    border: 2px solid red;
    background-color: pink;
}